{{yield}}

<div class="col-md-6 pass-mtr-ctnr">
    <div class="strength">
        <div id="strength-meter" class="strength-bar">
        </div>
    </div>
</div>

{{!--
<div>Score: {{strength.score}}</div>
<div>Guesses: {{strength.guesses}}</div>
--}}