<div class="container"><h2 id="title">Welcome to Ember</h2>

    <div class="form-group col-md-6">
        <label>New Password</label>
        {{input value=password type='password' class='form-control' placeholder='New Password'}} <br />
        {{password-strength password=password}}
    </div>
</div>

{{outlet}}